{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}Travel|Pix - Logout {% endblock %}

{% block content %}  
<!---- Login form -->
<div class="container">
  <div class="row">
    <div class="col-lg-5 m-auto">
      <div class="card mt-5 bg-light">
        <div class="card-title text-center mt-3">
          <img src="{% static 'images/flying.jpeg' %}" class="flying-image" alt="flying penguin" width="150px" height="150px">
          <hr>
          <h2>{% trans "Welcome back!" %}</h2>
          <hr>
          <p>{% blocktrans %}Already have an account? Please log in. <br>
            If you have not created an account yet, then <a class="link" href="{{ signup_url }}">Register</a> first.{% endblocktrans %}</p>
        </div>
      <form class="login text-center" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction buy-now-button text-center btn" type="submit">{% trans "Login" %}</button>
        <hr>
      </form>
    </div>
  </div>
 </div> 
<br>
 {% endblock %}
