{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
	  <div class="col-lg-5 m-auto">
		<div class="card mt-5 bg-light">
		  <div class="card-title text-center mt-3">

			<h3>I've Forgotten My Password</h3>

			<p>If you have forgotten your password, please enter your email address below and use the 'Reset Password' button below.</p>

			<form method="post">

				{% csrf_token %}
				{{form}}
				<input type="Submit" name="Send email">

			
	
			</form>
		</div>
	</div>
</div>
</div>

