{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-lg-5 m-auto">
        <div class="card mt-5 bg-light">
          <div class="card-title text-center mt-3">
            <h2>{% trans "Sign Up Closed" %}</h2>
                <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
