body {
    background: #efebec;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100%;
}

.navbar-custom {
    background-color: #153184;
    color: peachpuff;
}

.plane {
    border-radius: 50%;
}

.menu-items {
    color: peachpuff;
}

.title {
    color: peachpuff;
}

.footer {
    background-color: #153184;
    color: peachpuff;
}

.socials {
    color: peachpuff;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}


.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}



.link {
    color: #23BBBB;
    text-decoration: none;
}


.btn { 
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #153184;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
    color: #efebec;
}

.btn:hover {
    background-color: #606060;
    color: #fff;
}

.sign-up-image {
    border-radius: 50%;
}

.flying-image {
    border-radius: 50%;
}

.crying-image {
    border-radius: 50%;
}

.post-details {
    color: #efebec;
}
