{% extends "base.html" %}
{% block title %}Travel|Pix - Add Post{% endblock %}
{% block content %}
{% load static %}
<!--- Only users who are logged can create a post-->
{% if user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-lg-5 m-auto">
            <div class="card mt-5 bg-light">
                <div class="card-title text-center mt-3">
                    <h2> Add Post <i class="fas fa-camera-retro"></i> </h2>
                    <hr>
                    {% if user.is_authenticated %}
                    {% if user.id == post.author.id %}
                    <table class="offset-md-1"class="card-title text-center mt-3">
                        <form method="Post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_table }}
                            <br>
                        </table>
                        <br>
                        <div class="offset-md-1">
                            <button class="btn" style="margin-right:20px">Post</button> 
                            <a href="{% url 'home' %}" class="btn btn-">Cancel</a>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Errors show if the user is not logged in and did not create the post -->
<br><br>
{% else %}
<strong>Uh oh! Something whent wrong..</strong>
{% endif %}
{% endblock %}

