{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- User posts laid out in rows of three. Users can see who posted the images, when they posted and how
        many likes they have gotten. Users can click into a post to see the content however they will have to
    l   log in if they would like to like or comment.-->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="/media/travel.jpeg" alt="cases on the world">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="feautured image">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Post by: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr/>
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-thumbs-up"></i>
                                {{ post.number_of_likes }} </p> 
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
<!--- If there is more than 6 posts in total the oldest post will move onto the next page. Users will be able to
navigate by pressing on the NEXT and PREV buttons.-->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class=" btn page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class=" btn page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}
